#edit-patients .modal-dialog {
    max-width: 450px;
}
/* #AddStaff .modal-dialog {
    max-width: 650px;
}
#EditStaff .modal-dialog{
    max-width: 650px; */
/* } */

.modal-heading {
    color: var(--main);
    /*font-size: var(--lg-heading);*/
    font-size:35px;
}
.custom-modal {
    color: var(--main);
    border: 2px solid var(--main);
}
.custom-input {
    outline: none;
    border: none;
    background-color: var(--input-bg);
    color: var(--main);
    font-weight: bolder;
}
.custom-modal label {
    font-weight: bolder;
}
.custom-modal button {
    width: 150px;
    font-size: var(--sm-text);
    outline: none;
    border: none;
    color: white;
    border-radius: 16px;
    padding: 4px;
}.success-button {
    background-color: var(--main);
}
.cancel-button {
    background-color: var(--gray);
}