:root {
    --main: rgb(117, 10, 10);
    --primary: rgb(209, 35, 42);
    --secondary: rgb(241, 101, 34);
    --secondary-light: rgb(252, 245, 245);
    --gray: rgb(56, 30, 20);
    --xs-text: 12px;
    --sm-text: 16px;
    --md-text: 20px;
    --lg-text: 24px;
    --xl-text: 28px;
    --xxl-text: 32px;
    --sm-heading: 24px;
    --md-heading: 30px;
    --lg-heading: 40px;
    --xl-heading: 50px;
    --input-bg: rgb(239, 228, 228);
}